* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  color: white;
}

button {
  padding: 5px;
  margin: 3px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App > .card {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
